<%- include ./partials/head.ejs %>

<h1 id="detail_title"></h1>

<a class="detail_link" target="_blank"><img id="detail_gif" alt="detailgif" /></a>

<div id="links">
<a class="detail_link" target="_blank">GIPHY page</a>
<a id="original_url" target="_blank">Original post link</a>
<a href="../overview">Go back</a>
</div>


var data = JSON.parse('<%- detail_output %>'); %>

<% var detail = document.querySelector('#detail_gif'); %>
var link = document.querySelector('.detail_link');
var title = document.querySelector('#detail_title');
var original_url = document.querySelector('#original_url');

detail.setAttribute('src', 'https://media.giphy.com/media/'+ data.data[0].id + '/giphy.gif');
link.setAttribute('href', 'https://media.giphy.com/media/'+ data.data[0].id + '/giphy.gif');
title.innerHTML = data.data[0].title; %>

original_url.setAttribute('href', data.data[0].source_post_url);

include ./partials/footer.ejs %>
